<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dsscm.dao.BillMapper">

    <!-- selectList --> 

    <select id="selectList">
        SELECT * FROM bill
        <where>
            <if test="product != null and product != ''">
                AND product = #{product}
            </if>
            <if test="provider != null and provider != ''">
                AND provider = #{provider}
            </if>
            <if test="paid != null">
                AND paid = #{paid}
            </if>
        </where>
    </select>

</mapper>