<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dsscm.dao.ProductMapper">

    <!-- selectList --> 

    <select id="selectList">
        SELECT * FROM product
        <where>
            <if test="createdBy != null">
                AND created_by = #{createdBy}
            </if>
            <if test="minCreationTime != null">
                AND creation_time &gt;= #{minCreationTime}
            </if>
            <if test="maxCreationTime != null">
                AND creation_time &lt;= #{maxCreationTime}
            </if>
            <if test="modifiedBy != null">
                AND modified_by = #{modifiedBy}
            </if>
            <if test="minModificationTime != null">
                AND modification_time &gt;= #{minModificationTime}
            </if>
            <if test="maxModificationTime != null">
                AND modification_time &lt;= #{maxModificationTime}
            </if>

            <if test="name != null and name != ''">
                AND name LIKE '%' #{name} '%'
            </if>
            <if test="categoryLevel1 != null">
                AND category_level1 = #{categoryLevel1}
            </if>
            AND deleted = 0
        </where>
    </select>  

    <!-- insert --> 

    <update id="update">
        UPDATE product
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="placement != null">
                placement = #{placement},
            </if>
            <if test="stock != null">
                stock = #{stock},
            </if>
            <if test="categoryLevel1 != null">
                category_level1 = #{categoryLevel1},
            </if>
            <if test="categoryLevel2 != null">
                category_level2 = #{categoryLevel2},
            </if>
            <if test="categoryLevel3 != null">
                category_level3 = #{categoryLevel3},
            </if>
            <if test="photo != null">
                photo = #{photo},
            </if>
            modified_by = #{modifiedBy}
        </set>
        WHERE id = #{id}
    </update>

    <!-- insert --> 

    <insert id="insert">
        INSERT INTO product (
            name,
            description,
            price,
            placement,
            stock,
            unit,
            category_level1,
            category_level2,
            category_level3,
            photo,
            created_by,
            modified_by
        )
        VALUES (
            #{name},
            #{description},
            #{price},
            #{placement},
            #{stock},
            #{unit},
            #{categoryLevel1},
            #{categoryLevel2},
            #{categoryLevel3},
            #{photo},
            #{createdBy},
            #{createdBy}
        )
    </insert>
</mapper>